{% extends 'base.html' %}
{% load static %}
{% block title %}Inscrição{% endblock %}
{% block content %}
    <div class="container">
    <header>
        <h1 class="text-center">Pystack Week 1.0</h1>
    </header>
    <main>
        <h2>Inscreva-se</h2>
        <form method="POST" action="{% url 'registration' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input name="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome">
              </div>
              <div class="mb-3">
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Inscrever-se</button>
              </div>            
        </form>
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{message.tags}}" role="alert">
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
    </main>
    </div>
{% endblock %}